.mat-card {
  background-color: rgb(10, 10, 10);
  color:rgba(247, 119, 240, 0.918);
}
.content {
  padding: 16px;
}
.content > mat-card {
  background-color: rgb(244, 132, 248);
  width: 200px;
}
.mat-card-subtitle {
  color: rgb(232, 87, 245);
}
button {
  background-color: rgb(0, 0, 0);
  color: rgb(245, 101, 221);
}
button:hover {
  background-color: rgb(8, 8, 8);
  color: rgb(248, 132, 219);;
}
.example-header-image {
  background-image: url(../../assets/img1.jpg);
  background-size: cover;
}

.mat-card-actions {
  text-align: center;
}
h1 {
  padding-top: 10px;
  font: 1.4em sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #ed63faee;
  text-align: center;
}
